.select-input {
  border: none;
  border-radius: 4px;

  background: var(--dark-blue);
  color: var(--white);

  @media (prefers-color-scheme: light) {
    background: var(--light-gray);
    color: var(--darker-blue);
  }

  &__container {
    padding: 1rem 2rem;
  }
}
