.App {
  height: 100vh;
  width: 100vw;

  background: var(--very-dark-blue);
  color: var(--white);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    background: var(--dark-blue);
  }

  .filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 4rem;
    padding-block: 2rem;
  }

  .content {
    display: flex;
    align-items: center;
    padding-inline: 4rem;
    padding-block: 2rem;
    gap: 1rem;
    flex-wrap: wrap;
  }
}
