:root {
  /* - Dark Blue (Dark Mode Elements): */
  --dark-blue: hsl(209, 23%, 22%);
  /* - Very Dark Blue (Dark Mode Background): */
  --very-dark-blue: hsl(207, 26%, 17%);
  /* - Very Dark Blue (Light Mode Text): */
  --darker-blue: hsl(200, 15%, 8%);
  /* - Dark Gray (Light Mode Input): */
  --dark-gray: hsl(0, 0%, 52%);
  /* - Very Light Gray (Light Mode Background): */
  --light-gray: hsl(0, 0%, 98%);
  /* - White (Dark Mode Text & Light Mode Elements): */
  --white: hsl(0, 0%, 100%);

  --primary-font-size: 14px;
  --secondary-font-size: 16px;

  --primary-background-color: var(--very-dark-blue);
  --secondary-background-color: var(--dark-blue);
  --primary-text-color: var(--white);
  --secondary-text-color: var(--light-gray);
  --tertiary-text-color: var(var(--dark-gray));

  @media (prefers-color-scheme: light) {
    --primary-background-color: var(--light-gray);
    --secondary-background-color: var(--white);
    --primary-text-color: var(--darker-blue);
    --secondary-text-color: var(--very-dark-blue);
    --tertiary-text-color: var(var(--dark-blue));
  }
}

body {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Nunito Sans", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
