.text-input {
  border: none;
  border-radius: 4px;

  background: var(--secondary-background-color);
  min-width: 360px;

  &__container {
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__input-field {
    background: transparent;
    border: none;
    width: 100%;
    padding: 0;

    color: var(--primary-text-color);

    &:focus {
      outline: none;
    }

    ::placeholder {
      color: var(--secondary-text-color);
    }
  }
}
